@model VakifbankPos.Models.ReturnPosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container mt-4">
        <h2 class="text-center mb-4">POS Teslim Et</h2>

        <div class="card">
            <div class="card-header bg-warning text-white">
                <h5 class="card-title mb-0">POS Teslim Et</h5>
            </div>

            <div class="card-body">
                <form asp-action="ReturnPos" asp-controller="PosAction" method="post">
                    <div class="form-group">
                        <label asp-for="PosActionId" class="control-label">POS İşlem ID</label>
                        <input asp-for="PosActionId" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="PosId" class="control-label">POS ID</label>
                        <input asp-for="PosId" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="IssueDate" class="control-label">Veriliş Tarihi</label>
                        <input asp-for="IssueDate" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="ReturnDate" class="control-label">Geri Getirme Tarihi</label>
                        <input asp-for="ReturnDate" class="form-control" type="date" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Teslim Et" class="btn btn-custom-yellow" />
                    </div>
                </form>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <style>
            .btn-custom-yellow {
                background-color: #ffbb31; 
                color: #000; 
                border: none;
                border-radius: 4px;
                padding: 10px 15px;
                font-size: 16px;
                cursor: pointer;
                font-weight: bold;
                transition: background-color 0.3s ease;
            }

                .btn-custom-yellow:hover {
                    background-color: #e0a800;
                }

            .card-header {
                font-size: 1.25rem; 
                padding: 0.75rem 1.25rem; 
            }

            .card-body {
                padding: 1.25rem;
            }

            .form-group {
                margin-bottom: 1rem;
            }

            .form-control {
                border-radius: 4px; 
                box-shadow: none;
            }
        </style>
    </div>
</body>